.HeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - ($padding-hero * 2));
    text-align: center;
    height: 100%;
    padding: $padding-hero;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .HeroSection {
    background-color: $color-primary;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .HeroSection {
    background-color: $color-primary;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .HeroSection {
    background-color: $color-primary;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .HeroSection {
    background-color: $color-primary;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1450px) {
  .HeroSection {
    background-color: $color-primary;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
