body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
.Display {
  font-size: 42px;
  font-weight: bolder;
}
h1 {
  font-size: 36px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
