// BUTTONS -------------------------
$border-radius-round: 999px;
$border-radius-default: 8px;
$border-radius-light: 6px;
$border-radius-square: 0px;

//----------------------
$border-width: 2px;

// MIXIN ---------------------------
@mixin border($borderColor: $color-primary) {
  border: 2px solid $borderColor;
}
