// ----------  PAGES  ------------
// HOMEPAGE -------
$padding-homepage-section-desktop: 32px 64px 32px 64px;
$padding-homepage-section-laptop: 32px 64px 32px 64px;
$padding-homepage-section-tablet: 32px 32px 32px 32px;
$padding-homepage-section-phone: 16px 16px 16px 16px;

$padding-hero: 16px;

// --------  COMPONENTS ----------

// CARD -----------
$padding-card: 16px;

// NAVBAR ---------
$padding-navbar: 16px;

// SELECT ---------
$padding-select: 16px;
