.sortedContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  .container {
    .header {
      background-color: $color-primary;
      color: $color-white;
      padding: $padding-content-header;
    }
  }
}

.ContentHomeFiltred {
  padding-top: 16px;
  display: grid;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ContentHomeFiltred {
    gap: 16px;
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ContentHomeFiltred {
    gap: 16px;
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ContentHomeFiltred {
    gap: 16px;
    display: grid;
    grid-template-columns: calc(50% - (16px / 2)) calc(50% - (16px / 2));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ContentHomeFiltred {
    gap: 16px;
    display: grid;
    grid-template-columns: calc(33% - (16px / 3)) calc(33% - (16px / 3)) calc(
        33% - (16px / 3)
      );
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1450px) {
  .ContentHomeFiltred {
    gap: 16px;
    display: grid;
    grid-template-columns:
      calc(25% - (16px / 4)) calc(25% - (16px / 4)) calc(25% - (16px / 4))
      calc(25% - (16px / 4));
  }
}
